@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main-container{
    height: 100vh;
    background-color: #000000;
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 842px;
    height: 531.55px;
    
    background: #242424;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: #242424;
}

.form-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 10px 10px 10px 0px;
}

.lable{
    display: flex;
    flex-direction: column;
    align-items:flex-start
}


.logo-img{
    width: 12%;
    /* margin-top: 25px; */
    margin-bottom: 0px;
}

.font-link{
    font-style: 'Poppins', sans-serif;
    font-size: 1rem;
}

.input-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    background: rgb(65, 218, 65); 
    padding: 10px;
    width: 125px;
    font-weight: 500;
    cursor: pointer;
}

.input-vlaue{
    border: none;
    font-size: 1rem;
    font-weight: 400;
    width: 45.5rem;
    height: 3.37rem;
    background: #0F0F0F;
    border-radius: 25px;
    color: white;
    margin-bottom: 15px;
    text-indent: 20px;
}

.login-section {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login-section h2 {
    text-align: start;
    color: white;
    margin-bottom: 40px;
    font-weight: 400;
}

.error-message{
    color: red;
    font-weight: 300;
}

.input-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    width: 284px;
    align-items: center;
}